@import "tailwindcss";
@import "./tailwind.config.js";

:root {
  --background: #fcfaf8; /* 少し温かみのある白 */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* ぼやけ対策として、デフォルトでは subpixel-antialiased を推奨 */
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}