@import "tailwindcss";

:root {
  /* ライトモード */
  --background: #fcfaf8;
  --foreground: #0f172a;
  --card-bg: #ffffff;
  --card-border: #f1f5f9;
  --text-main: #1e293b;
  --text-sub: #64748b;
  --koyomike: #b28c6e;
}

.dark {
  /* ダークモード */
  --background: #020617; /* 深い紺黒 */
  --foreground: #f1f5f9;
  --card-bg: #0f172a;    /* カードの背景 */
  --card-border: #1e293b;
  --text-main: #f1f5f9;
  --text-sub: #94a3b8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card-bg);
  --color-card-border: var(--card-border);
  --color-text-main: var(--text-main);
  --color-text-sub: var(--text-sub);
  --color-koyomike: var(--koyomike);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}